@tailwind base;
@tailwind components;
@tailwind utilities;

.glow-strong {
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.8),
    0 0 30px rgba(255, 255, 255, 0.6), 0 0 40px rgba(255, 255, 255, 0.4);
}

.glow-weak {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.6),
    0 0 20px rgba(255, 255, 255, 0.4);
}

.bg-radial-gradient {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.1) 10%,
    rgba(0, 0, 0, 0) 70%
  );
}
.lighting {
  background: radial-gradient(
    circle at bottom,
    rgba(255, 255, 255, 0.2) 10%,
    rgba(0, 0, 0, 0) 70%
  );
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 0.5s ease-out;
}
